name: nill-ci
on: [push]
jobs:
  ci-job:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go: [ '1.26.x' ]
    name: Go ${{ matrix.go }}
    steps:
      - uses: actions/checkout@v2
      - name: Use go
        uses: actions/setup-go@v2
        with:
          go-version: ${{ matrix.go }}
      - run: go test -v